@import "tailwindcss";

body {
	font-family: "Roboto", sans-serif;
}

@theme {
	--animate-scroll-left: scroll-left 20s linear infinite;
	@keyframes scroll-left {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(-100%);
		}
	}

	--animate-rainbow: rainbow 15s ease infinite;
	@keyframes rainbow {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	--animate-spin-vinyl: spin-vinyl 2s linear infinite;
	@keyframes spin-vinyl {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}

@layer components {
	.kirby-content h1 {
		@apply mt-16 mb-4 text-2xl;
	}

	.kirby-content h2 {
		@apply mt-4 mb-4 text-xl;
	}

	.kirby-content p {
		@apply min-h-[1em];
	}
}
